<div class ="container">
    <h1>Update Product</h1>

    <form #form ="ngForm" (ngSubmit) ="updateproduct()">
        <div class="mb-3">
            <label for="id" class="form-label">id</label>
            <input type="text" class="form-control" id="Product Name" readonly name="id" [(ngModel)] ="updateproducthtml.id">
            
          </div>
        <div class="mb-3">
          <label for="Product Name" class="form-label">Product Name</label>
          <input type="text" class="form-control" id="Product Name" name="Product Name" [(ngModel)] ="updateproducthtml.product_Name">
          
        </div>
        <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <input type="text" class="form-control" id="type" name="type" [(ngModel)] ="updateproducthtml.type">
        </div>

        <div class="mb-3">
            <label for="colour" class="form-label">Colour</label>
            <input type="text" class="form-control" id="colour" name="colour" [(ngModel)] ="updateproducthtml.colour">
        </div>

        <div class="mb-3">
            <label for="colour" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" name="price" [(ngModel)] ="updateproducthtml.price">
        </div>
         
        <button type="submit" class="btn btn-primary">UPDATE</button>
      </form>
</div>
